APP_ORGANIZATION_ID=replace_with_organization_uuid
DB_URL=jdbc:postgresql://postgres.internal:5432/law_oa?sslmode=require
DB_USERNAME=law_oa_app
DB_PASSWORD=replace_with_secret_manager_reference
REDIS_HOST=redis.internal
REDIS_PORT=6379

STORAGE_ENDPOINT=https://s3.internal.example.com
STORAGE_PUBLIC_ENDPOINT=https://files.oa.example.com
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=replace_with_least_privilege_access_key
STORAGE_SECRET_KEY=replace_with_secret_manager_reference
STORAGE_BUCKET=law-oa-private

DINGTALK_CLIENT_ID=replace_with_dingtalk_app_key
DINGTALK_CLIENT_SECRET=replace_with_secret_manager_reference
DINGTALK_REDIRECT_URI=https://oa.example.com/auth/dingtalk/callback

DOCUMENT_SCANNER_MODE=clamav
CLAMAV_HOST=clamav.internal
CLAMAV_PORT=3310
CLAMAV_TIMEOUT=30s
DOCUMENT_CLEANUP_INTERVAL=PT1H
DOCUMENT_CLEANUP_BATCH_SIZE=100
